discord.py
asyncio
datetime
random
discord.ext
commands
os
urllib
URLError
HTTPError
urlopen
urllib.request 
Request
bs4
BeautifulSoup
urllib.parse
quote
re
warnings
requests
time
